/* color scheme: http://paletton.com/#uid=30g0u0kmApBaeFnhlu0r4l5xFfw */

.jumbotron{
    text-align: center;
    background-color: #A8441A;
    color: #88A8C2;
}

.panel{
    border: solid 2px #306E00;
}

.panel-default>.panel-heading, .btn-default{
    background-color: #306E00;
    color: #88A8C2;
    font-weight: bold;
}

.panel-body{
    color: #17456C;
}

th, td{
    text-align: center;
}

.remove{
    margin-top: 2px;
}

.form-control{
    margin-bottom: 10px;
    color: #17456C;
    border-color: #306E00;
}

.btn-default:hover, .btn-default:active, .btn-default:focus{
    background-color: #93D461;
    color: #17456C;
    border-color: #88A8C2;
}